In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


df = pd.read_csv("iris.csv")

print("Total datos: ", len(df))

df.head()

Total datos:  150

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [46]:
y = pd.DataFrame(data=df['species'])

y['species'] = y['species'].replace(['setosa'],0)
y['species'] = y['species'].replace(['versicolor'],1)
y['species'] = y['species'].replace(['virginica'],2)

X = pd.DataFrame(data=df.ix[:,0:4])

X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [41]:
y.head()

   species
0        0
1        0
2        0
3        0
4        0

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = 0.2,random_state=42)

print (X_train.shape, y_train.shape) 
print (X_test.shape, y_test.shape)

(120, 4) (120, 1)
(30, 4) (30, 1)

In [43]:
y_test.head()

     species
73         1
18         0
118        2
78         1
76         1

In [44]:
import tensorflow as tf

feature_columns = tf.contrib.learn.infer_real_valued_columns_from_input(X_train)

classifier = tf.contrib.learn.DNNClassifier(feature_columns=feature_columns, hidden_units=[10, 20, 10], n_classes=3)

classifier.fit(X_train, y_train, steps=200)

classifier.predict(np.array([[6.1,  2.8,  4.7,  1.2]]))

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp3t8z_tge
INFO:tensorflow:Using config: {'_task_type': None, '_task_id': 0, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fb15b237e48>, '_master': '', '_num_ps_replicas': 0, '_num_worker_replicas': 0, '_environment': 'local', '_is_chief': True, '_evaluation_master': '', '_tf_config': gpu_options {
  per_process_gpu_memory_fraction: 1.0
}
, '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_log_step_count_steps': 100, '_session_config': None, '_save_checkpoints_steps': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_model_dir': '/tmp/tmp3t8z_tge'}
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmp3t8z_tge/model.ckpt.
INFO:tensorflow:loss = 1.2816104, step = 1
INFO:tensorflow:global_step/sec: 298.659
INFO:tensorflow:loss = 0.24467039, step = 101 (0.338 sec)
INFO:tensorflow:Saving checkpoints for 200 into /tmp/tmp3t8z_tge/model.ckpt.
INFO:tensorflow:Loss for final step: 0.11071214.
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp3t8z_tge/model.ckpt-200
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [45]:
from sklearn.metrics import accuracy_score

predictions = list(classifier.predict(X_test))

round(accuracy_score(y_test, predictions),3)

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp3t8z_tge/model.ckpt-200
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

1.0